/* _content/CompanyApp.Components.Procurements/Component1.razor.rz.scp.css */
.my-component[b-pse0m2qtu1] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
