/* _content/CompanyApp.Components.Investigations/Component1.razor.rz.scp.css */
.my-component[b-60sp8ggiy6] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
